In [1]:
import psycopg2
import secrets
import pandas as pd
import os
import shapely
import datetime
import subprocess
from census import Census 
import requests

In [32]:
db_name = 'tweets_paul'
user = 'paul'
password = secrets.password_paul
host = '74.207.246.217'
connstring = "dbname={} user={} host={} password={}".format(db_name, user, host, password)
conn = psycopg2.connect(database=db_name, 
                        user=user,
                        password=password,
                        host=host)

In [33]:
cur = conn.cursor()

# Check data types
cur.execute("SELECT column_name, data_type FROM information_schema.columns \
            WHERE table_name = 'tweets';")
cur.fetchall()

[('index', 'bigint'),
 ('id', 'bigint'),
 ('lat', 'double precision'),
 ('lng', 'double precision'),
 ('text', 'text'),
 ('timeStamp', 'timestamp without time zone'),
 ('user_id', 'bigint'),
 ('location', 'USER-DEFINED')]

In [4]:
# bash command to insert shapefile into postgis database

"""
shp2pgsql -I -W 'latin1' -s 4326 /home/paul/Documents/Coursework/tweet-db/data/tl_2010_06_county10/tl_2010_06_county10.shp counties | psql -h 74.207.246.217 -d tweets_paul -U paul
"""

"\nshp2pgsql -I -W 'latin1' -s 4326 /home/paul/Documents/Coursework/tweet-db/data/tl_2010_06_county10/tl_2010_06_county10.shp counties | psql -h 74.207.246.217 -d tweets_paul -U paul\n"

In [5]:
# Check data types
cur.execute("SELECT column_name, data_type FROM information_schema.columns \
            WHERE table_name = 'counties';")
cur.fetchall()

[('gid', 'integer'),
 ('statefp10', 'character varying'),
 ('countyfp10', 'character varying'),
 ('countyns10', 'character varying'),
 ('geoid10', 'character varying'),
 ('name10', 'character varying'),
 ('namelsad10', 'character varying'),
 ('lsad10', 'character varying'),
 ('classfp10', 'character varying'),
 ('mtfcc10', 'character varying'),
 ('csafp10', 'character varying'),
 ('cbsafp10', 'character varying'),
 ('metdivfp10', 'character varying'),
 ('funcstat10', 'character varying'),
 ('aland10', 'double precision'),
 ('awater10', 'double precision'),
 ('intptlat10', 'character varying'),
 ('intptlon10', 'character varying'),
 ('geom', 'USER-DEFINED')]

In [6]:
# Check data types
cur.execute("SELECT geoid10 FROM counties LIMIT 5;")
cur.fetchall()

[('06059',), ('06103',), ('06011',), ('06083',), ('06051',)]

In [7]:
# Calculate the number of tweets inside of Contra Costa County.

cur.execute("SELECT count(*) FROM counties WHERE counties.geoid10='06001';")
cur.fetchall()

[(1L,)]

In [8]:
# Calculate the number of tweets inside of Contra Costa County.

query = "SELECT count(*) FROM counties, tweets \
         WHERE counties.geoid10='06013' \
         AND ST_Intersects(counties.geom, tweets.location);"

cur.execute(query)
cur.fetchall()

[(8502L,)]

In [9]:
# How many Tweets fall 100 miles outside of Alameda County? (i.e., fall outside of a 100 mile polygon
# surrounding the Alameda County).

query = "SELECT count(*) FROM counties, tweets \
        WHERE counties.geoid10='06001' \
        AND ST_Intersects(ST_Buffer(ST_Transform(counties.geom, 3157), 160934), \
        ST_Transform(tweets.location, 3157));"

In [13]:
# How many Tweets fall 100 miles outside of Alameda County? (i.e., fall outside of a 100 mile polygon
# surrounding the Alameda County).

query = "SELECT count(*) FROM counties, tweets \
        WHERE counties.geoid10='06001' \
        AND ST_Dwithin(ST_Transform(counties.geom, 3157), ST_Transform(tweets.location, 3157), 160934);"

In [14]:
cur.execute(query)
cur.fetchall()

[(85094L,)]

In [15]:
# How many Tweets fall 100 miles outside of Alameda County? (i.e., fall outside of a 100 mile polygon
# surrounding the Alameda County).

query = "SELECT count(*) FROM counties, tweets \
        WHERE counties.geoid10='06001' \
        AND NOT ST_Dwithin(ST_Transform(counties.geom, 3157), ST_Transform(tweets.location, 3157), 160934);"

cur.execute(query)
cur.fetchall()

[(14906L,)]

In [36]:
c = Census(secrets.censuskey)

population = c.sf1.get('P0010001', geo={'for': 'county:*',
                                       'in': 'state:06'})
pop = pd.DataFrame(population)
pop.columns = ['population', 'county', 'state']
pop['geoid10'] = pop.state + pop.county
pop.head()

  population county state geoid10
0    1510271    001    06   06001
1       1175    003    06   06003
2      38091    005    06   06005
3     220000    007    06   06007
4      45578    009    06   06009

In [37]:
# Duplicate SQL connection using sqlalchemy to take advantage of 
# pandas built in "to_sql" method

from sqlalchemy import create_engine
enginestring = 'postgresql://{}:{}@74.207.246.217:5432/tweets_paul'.format(user, password)
engine = create_engine(enginestring)

In [38]:
# Load data to SQL

pop.to_sql('population', engine)

In [39]:
# Commit changes

conn.commit()

In [44]:
# Check data types
cur.execute("SELECT column_name, data_type FROM information_schema.columns \
            WHERE table_name = 'population';")
cur.fetchall()

[('index', 'bigint'),
 ('population', 'text'),
 ('county', 'text'),
 ('state', 'text'),
 ('geoid10', 'text')]

In [22]:
# provide a visualization of tweets per capita for California counties

cur.execute("SELECT counties.name10, population.population FROM population INNER JOIN counties ON counties.geoid10 = population.geoid10;")
cur.fetchall()

[('Orange', '3010232'),
 ('Tehama', '63463'),
 ('Colusa', '21419'),
 ('Santa Barbara', '423895'),
 ('Mono', '14202'),
 ('Monterey', '415057'),
 ('Placer', '348432'),
 ('Amador', '38091'),
 ('Calaveras', '45578'),
 ('Imperial', '174528'),
 ('Siskiyou', '44900'),
 ('Sonoma', '483878'),
 ('Santa Clara', '1781642'),
 ('Kern', '839631'),
 ('Yolo', '200849'),
 ('Mendocino', '87841'),
 ('Sacramento', '1418788'),
 ('Madera', '150865'),
 ('Yuba', '72155'),
 ('Tulare', '442179'),
 ('San Diego', '3095313'),
 ('Plumas', '20007'),
 ('San Benito', '55269'),
 ('Shasta', '177223'),
 ('Stanislaus', '514453'),
 ('Mariposa', '18251'),
 ('Fresno', '930450'),
 ('Alpine', '1175'),
 ('Marin', '252409'),
 ('Glenn', '28122'),
 ('Lassen', '34895'),
 ('Del Norte', '28610'),
 ('Napa', '136484'),
 ('San Luis Obispo', '269637'),
 ('San Mateo', '718451'),
 ('Nevada', '98764'),
 ('San Joaquin', '685306'),
 ('San Bernardino', '2035210'),
 ('Sutter', '94737'),
 ('Riverside', '2189641'),
 ('Trinity', '13786'),
 ('Contra Costa', '1049025'),
 ('Ventura', '823318'),
 ('Tuolumne', '55365'),
 ('Butte', '220000'),
 ('Sierra', '3240'),
 ('Lake', '64665'),
 ('Modoc', '9686'),
 ('El Dorado', '181058'),
 ('Los Angeles', '9818605'),
 ('Alameda', '1510271'),
 ('Inyo', '18546'),
 ('San Francisco', '805235'),
 ('Santa Cruz', '262382'),
 ('Kings', '152982'),
 ('Humboldt', '134623'),
 ('Solano', '413344'),
 ('Merced', '255793')]

In [25]:
# provide a visualization of tweets per capita for California counties

cur.execute("SELECT count(*) FROM tweets, counties WHERE ;")
cur.fetchall()

[(5800000L,)]

In [42]:
cur.execute("SELECT counties.name10 as name, count(*) as count_tweets FROM tweets, counties \
             WHERE ST_Intersects(tweets.location, counties.geom) \
             GROUP BY counties.name10;")
cur.fetchall()

[('Orange', 742L),
 ('El Dorado', 83L),
 ('Napa', 492L),
 ('Mendocino', 286L),
 ('Plumas', 53L),
 ('Santa Clara', 19531L),
 ('San Diego', 841L),
 ('Nevada', 61L),
 ('Sutter', 479L),
 ('San Luis Obispo', 530L),
 ('Los Angeles', 3946L),
 ('Kings', 7L),
 ('San Benito', 158L),
 ('Del Norte', 79L),
 ('Madera', 190L),
 ('Santa Barbara', 76L),
 ('Placer', 72L),
 ('Yolo', 490L),
 ('Stanislaus', 1077L),
 ('Imperial', 557L),
 ('Riverside', 2270L),
 ('Amador', 73L),
 ('Tehama', 268L),
 ('San Mateo', 8341L),
 ('Solano', 1543L),
 ('Ventura', 1049L),
 ('Alpine', 2L),
 ('Siskiyou', 61L),
 ('Fresno', 415L),
 ('Lassen', 21L),
 ('Monterey', 662L),
 ('San Joaquin', 1146L),
 ('Kern', 47L),
 ('Butte', 419L),
 ('Glenn', 304L),
 ('San Bernardino', 2664L),
 ('Yuba', 71L),
 ('Tuolumne', 45L),
 ('Contra Costa', 8502L),
 ('San Francisco', 17219L),
 ('Shasta', 312L),
 ('Alameda', 17045L),
 ('Sonoma', 692L),
 ('Merced', 1075L),
 ('Santa Cruz', 2695L),
 ('Sacramento', 2195L),
 ('Humboldt', 75L),
 ('Calaveras', 10L),
 ('Trinity', 6L),
 ('Lake', 102L),
 ('Marin', 900L),
 ('Mariposa', 3L)]

In [43]:
query = """
SELECT * FROM 
    (SELECT counties.name10 as name, population.population as pop 
    FROM population 
    INNER JOIN counties 
    ON counties.geoid10 = population.geoid10) county_pop
    
INNER JOIN

    (SELECT counties.name10 as name, count(*) as count_tweets 
    FROM tweets, counties
    WHERE ST_Intersects(tweets.location, counties.geom)
    GROUP BY counties.name10) county_tweets

ON county_pop.name = county_tweets.name;

"""

cur.execute(query)
cur.fetchall()

[('Orange', '3010232', 'Orange', 742L),
 ('Tehama', '63463', 'Tehama', 268L),
 ('Santa Barbara', '423895', 'Santa Barbara', 76L),
 ('Monterey', '415057', 'Monterey', 662L),
 ('Placer', '348432', 'Placer', 72L),
 ('Amador', '38091', 'Amador', 73L),
 ('Calaveras', '45578', 'Calaveras', 10L),
 ('Imperial', '174528', 'Imperial', 557L),
 ('Siskiyou', '44900', 'Siskiyou', 61L),
 ('Sonoma', '483878', 'Sonoma', 692L),
 ('Santa Clara', '1781642', 'Santa Clara', 19531L),
 ('Kern', '839631', 'Kern', 47L),
 ('Yolo', '200849', 'Yolo', 490L),
 ('Mendocino', '87841', 'Mendocino', 286L),
 ('Sacramento', '1418788', 'Sacramento', 2195L),
 ('Madera', '150865', 'Madera', 190L),
 ('Yuba', '72155', 'Yuba', 71L),
 ('San Diego', '3095313', 'San Diego', 841L),
 ('Plumas', '20007', 'Plumas', 53L),
 ('San Benito', '55269', 'San Benito', 158L),
 ('Shasta', '177223', 'Shasta', 312L),
 ('Stanislaus', '514453', 'Stanislaus', 1077L),
 ('Mariposa', '18251', 'Mariposa', 3L),
 ('Fresno', '930450', 'Fresno', 415L),
 ('Alpine', '1175', 'Alpine', 2L),
 ('Marin', '252409', 'Marin', 900L),
 ('Glenn', '28122', 'Glenn', 304L),
 ('Lassen', '34895', 'Lassen', 21L),
 ('Del Norte', '28610', 'Del Norte', 79L),
 ('Napa', '136484', 'Napa', 492L),
 ('San Luis Obispo', '269637', 'San Luis Obispo', 530L),
 ('San Mateo', '718451', 'San Mateo', 8341L),
 ('Nevada', '98764', 'Nevada', 61L),
 ('San Joaquin', '685306', 'San Joaquin', 1146L),
 ('San Bernardino', '2035210', 'San Bernardino', 2664L),
 ('Sutter', '94737', 'Sutter', 479L),
 ('Riverside', '2189641', 'Riverside', 2270L),
 ('Trinity', '13786', 'Trinity', 6L),
 ('Contra Costa', '1049025', 'Contra Costa', 8502L),
 ('Ventura', '823318', 'Ventura', 1049L),
 ('Tuolumne', '55365', 'Tuolumne', 45L),
 ('Butte', '220000', 'Butte', 419L),
 ('Lake', '64665', 'Lake', 102L),
 ('El Dorado', '181058', 'El Dorado', 83L),
 ('Los Angeles', '9818605', 'Los Angeles', 3946L),
 ('Alameda', '1510271', 'Alameda', 17045L),
 ('San Francisco', '805235', 'San Francisco', 17219L),
 ('Santa Cruz', '262382', 'Santa Cruz', 2695L),
 ('Kings', '152982', 'Kings', 7L),
 ('Humboldt', '134623', 'Humboldt', 75L),
 ('Solano', '413344', 'Solano', 1543L),
 ('Merced', '255793', 'Merced', 1075L)]

In [40]:
conn.rollback()

In [28]:
conn.close()